# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/

# Node / React
node_modules/
build/
dist/

# Databases
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Environment files
.env
.env.local
